
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

:root{
    font-family: "Teko";
}

footer{
    margin-top: 430px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

footer a {
    margin: 0;
    padding: 0 2px 0 2px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}